@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(180deg, black 70%, transparent 100%);
  mask-image: linear-gradient(180deg, black 70%, transparent 100%);
}


